/* --- Estilo da mensagem de erro --- */
.error {
    box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
    border: 1px solid rgba(27, 31, 35, 0.15);
    text-align: center;
    padding: 2px 6px;
    color: #ffffff;
    background: #ff0000;
    border-radius: 6px;
    width: 200px;
    display: none;
    margin: 5px;
    box-sizing: border-box;
}

<<<<<<< HEAD
/* ------------------------------------ */



/* --------------- Estilo da lista e itens dentro dela ---------------------- */
=======
#caixaDeCampoEOperacao {
    border-radius: 100%;
}

>>>>>>> f02d07743c7f5eaca752761757be5411ff0ce413
ul#listaCalculo {
    list-style-type: none;
    counter-reset: custom-counter;
}

ul#listaCalculo li::before {
<<<<<<< HEAD
    counter-increment: custom-counter;
    content: "[" counter(custom-counter) "] Resultado -";
    margin-right: 0.5em;
    color: #fffffc;
=======
    counter-increment: incrementadorDeNumerosDaLista;
    content: "Resultado [" counter(incrementadorDeNumerosDaLista) "] -";
    margin-right: 0.5em;
    color: #eeff00;
>>>>>>> f02d07743c7f5eaca752761757be5411ff0ce413
}

#listaDoCalculo {
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid rgba(214, 208, 208, 0.15);
    border-radius: 6px;
    display: flex;
    position: relative;
    padding: 1px 4px;
    background: rgba(202, 195, 195, 0.4);
    margin: 10px;
    color: #121413;
<<<<<<< HEAD
    overflow-y: scroll;
    scroll-behavior: smooth;
    max-height: 200px;
    width: 550px;
}

/* Barra de rolagem da lista de calculo */
#listaDoCalculo::-webkit-scrollbar {
    background-color: #F4F4F4;
    border-radius: 10px;
}

#listaDoCalculo::-webkit-scrollbar {
    width: 6px;
    background: #F4F4F4;
}

#listaDoCalculo::-webkit-scrollbar-thumb {
    background: #616060;
    border-radius: 10px;
}

/* ----------------------------------------- */




/* ------ São estilos para os titulos da lista e resulado ----- */
=======
}

>>>>>>> f02d07743c7f5eaca752761757be5411ff0ce413
.titulosFormatacao {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

<<<<<<< HEAD
.bordaTitulos {
    border: 1px solid #616060;
    background-color: #616060;
    height: center;
    width: center;
    border-radius: 6px;
    padding: 2px 30px;
}

/* ----------------------------------------- */




/* ----------Area do botao,campo e operacao------------ */
=======
>>>>>>> f02d07743c7f5eaca752761757be5411ff0ce413
.campo {
    appearance: none;
    background-color: #FAFBFC;
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
    box-sizing: border-box;
    color: #24292E;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 14px;
    font-weight: 500;
    width: 130px;
    line-height: 17px;
    padding: 2px 6px;
    position: relative;
    text-align: center;
}

#botao {
    appearance: none;
    background-color: #FAFBFC;
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
    box-sizing: border-box;
    color: #24292E;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    padding: 2px 6px;
    position: relative;
    margin: 1px 6px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

#operacao {
    appearance: none;
    background-color: #FAFBFC;
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 6px;
    color: #24292E;
    cursor: pointer;
<<<<<<< HEAD
=======
    display: inline-flex;
>>>>>>> f02d07743c7f5eaca752761757be5411ff0ce413
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
<<<<<<< HEAD
    padding: 2px 3px;
    text-align: center;
    margin: 1px 5px;
    display: inline-flex;
=======
    list-style: none;
    padding: 2px 3px;
    text-align: center;
}

#central {
    display: flex;
>>>>>>> f02d07743c7f5eaca752761757be5411ff0ce413
    justify-content: center;
    align-items: center;
}

#caixaDeCampoEOperacao {
    height: center;
    width: center;
    border-radius: 6px;
    padding: 3px 40px;
    margin-left: 50px;
    position: relative;
}
/* ----------------------------------------- */






#central {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: initial;
}

#titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

#resultasDoEstilo {
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 6px;
    display: flex;
    position: relative;
    background: rgba(202, 195, 195, 0.4);
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
}

#resultado {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}

#geral {
    background: rgba(235, 220, 220, 0.4);
    box-shadow: 0 8px 32px 0 rgba(218, 219, 231, 0.37);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 50px;
<<<<<<< HEAD
    color: white;
=======
    color: white
>>>>>>> f02d07743c7f5eaca752761757be5411ff0ce413
}

body {
    background-image: linear-gradient(150deg, #121413 0%, #1b1e1f 66%, #1d2022 100%);
}